@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

input, textarea, select {
  color: #000000;
}

@layer utilities {
  .stitch-corner {
    border-style: dashed;
  }
  
  .animate-stitch {
    animation: stitch 3s linear infinite;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes stitch {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 32;
  }
}
